extends layout

block head
  // Here will go our css/js links
  script(type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/index.js" charset="utf-8")
  script(type="text/javascript" src="https://d3js.org/d3.v4.min.js" charset="utf-8")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,700")
  link(rel='stylesheet', href='/css/auth.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    
block content
  div.container
    div.row
      div.col-lg-6.col-md-6.col-sm-6.col-xs-6
        hgroup        
          form.ombrage(method='post', action='/signin')
            p Déjà membre, connectez-vous
            div.group
              input(type='text' name='login' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required)
              span.highlight
              span.bar       
              label Email 
            div.group
              input(type='password', name='pw' pattern=".{6,}" required)
              span.highlight
              span.bar      
              label Mot de passe    
            button.button.buttonBlue(type="submit") Se connecter
              div.ripples.buttonRipples
                span.ripplesCircle
      div.col-lg-6.col-md-6.col-sm-6.col-xs-6#essai
        hgroup
          form.ombrage(method='post', action='/signup')
            p Pas de compte, inscrivez-vous
            div.group
              input(type='text' name='login' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required)
              span.highlight
              span.bar       
              label Email
            div.group
              input(type='password' name='pw' pattern=".{6,}" required)
              span.highlight
              span.bar      
              label Mot de passe   
            button.button.buttonBlue(type="submit") S'inscrire
              div.ripples.buttonRipples
                span.ripplesCircle
                  
  script
    :coffee-script
      $('input').focusout ->
        if $(this).val() != ""
          $(this).parent().find('label').hide()
        else
          $(this).parent().find('label').show()
        return
  
