extends layout

block head
  // Here will go our css/js links
  script(type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/index.js" charset="utf-8")
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')

block content  
  div.container
    div.col-md-6.col-md-offset-3
      p #{text}
      button#show-metrics(type="button" class="btn btn-success") Bring the metrics
      #metrics
      
  script 
    :coffee-script
      $('#show-metrics').click (e) ->
        e.preventDefault()
        $.getJSON "/metrics.json", {}, (data) ->
          content = "<ul>"
          for d in data
            content += "<li>timestamp: #{d.timestamp}, value: #{d.value}</li>"
          content += "</ul>"
          $('#metrics').append content
