extends layout

block head
  // Here will go our css/js links
  script(type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/index.js" charset="utf-8")
  script(type="text/javascript" src="https://d3js.org/d3.v4.min.js" charset="utf-8")
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')

block content
  a(href="/logout") Logout
  div.container
    div.col-md-6.col-md-offset-3
      h1 Hello #{name} !
      button#show-metrics(type="button" class="btn btn-success") Bring the metrics
      #metrics
    script
      :coffee-script
        $("#show-metrics").click (e) ->
            dataset = []
            e.preventDefault()
            $.getJSON "/metrics.json", {}, (data) ->
              content = "<ul>"
              for d in data
                content += "<li data-val='#{d.timestamp}'>timestamp: #{d.timestamp}, value: #{d.value} <button class='btn btn-danger' id='del'> Delete metrics</button></li>"
                dataset.push(parseInt(d.value))
              console.log(dataset)		
              w = 500 
              h = 800
              barPadding = 1

              #Create SVG element
              svg = d3.select('body').append('svg').attr('width', w).attr('height', h)
              svg.selectAll('rect').data(dataset).enter().append('rect').attr('x', (d, i) ->
                i * w / dataset.length
              ).attr('y', (d) ->
                h - (d * 4)
              ).attr('width', w / dataset.length - barPadding).attr('height', (d) ->
                d * 4
              ).attr 'fill', (d) ->
                'rgb(0, 0, ' + d * 10 + ')'
              svg.selectAll('text').data(dataset).enter().append('text').text((d) ->
                d
              ).attr('x', (d, i) ->
                i * w / dataset.length + 5
              ).attr('y', (d) ->
                h - (d * 4) + 15
              ).attr('font-family', 'sans-serif').attr('font-size', '11px').attr 'fill', 'white'
              content += "</ul>"
              $("#metrics").append content
  
  script.
    $('.container').on('click', 'button#del', function(){
      element = $(this).parent()
      value = element.data('val');
      console.log(value)
      $.get( "deletemetrics/"+value, function( data ) {
        element.hide()
      });
    })

    
