extends layout

block head
  // Here will go our css/js links
  script(src='http://code.jquery.com/jquery-latest.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js')
  script(src='/js/index.js')
  script(type="text/javascript" src="https://d3js.org/d3.v4.min.js" charset="utf-8")
  link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/css/metrics.css')
    
block content
  body
    aside#show-side-navigation1.side-nav
      i.fa.fa-bars.close-aside.hidden-sm.hidden-md.hidden-lg(data-close='show-side-navigation1')
      .heading
        img.img-responsive(src='/assets/man.png', alt='')
        .info
          p #{name}
      .search
        input(type='text', placeholder='Type here')
        i.fa.fa-search
      ul.categories
        li
          button#show-metrics(type="button" class="btn btn-metrics") Afficher les metrics
          #metrics
        li
          i.fa.fa-users.fa-fw
          a(href='#')  Notre équipe
          ul.side-nav-dropdown
            li
              a(href='#') Vincent Bas
            li
              a(href='#') Charles Andre
    section#contents
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              i.fa.fa-align-right
            a.navbar-brand(href='#')
              | my
              span.main-color Dashboard
          #bs-example-navbar-collapse-1.collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Mon profil 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#')
                      i.fa.fa-user-o.fw
                      |  Mon compte
                  li
                    a(href='#')
                      i.fa.fa-question-circle-o.fw
                      |  Aides
                  li.divider(role='separator')
                  li
                    a(href="/logout")
                      i.fa.fa-sign-out
                      |  Déconnexion
              li
                a(href='#')
                  i.fa.fa-bars.show-side-btn(data-show='show-side-navigation1')
      .welcome
        .container-fluid
          .row
            .col-md-12
              .content
                h2 Welcome to Dashboard
                li.btn.btn-metrics: a(href="/newmetrics") Ajouter un metric
      section.charts
        .container-fluid
          .row
            .col-md-12
              .chart-container
                h3 Chart
      section.admins
        .container-fluid
          .row
            .col-md-6
              .box
                h3 Admin:
                .admin
                  .img
                    img.img-responsive(src='/assets/charles.jpg', alt='admin')
                  .info
                    h3 Charles Andre
                    p Etudiant en école d’ingénieur en Master 2 Big Data à l’ECE Paris. 
                    p Option d'approfondissement : Les nouvelles technologies du web
            .col-md-6
              .box
                h3 Admin:
                .admin
                  .img
                    img.img-responsive(src='/assets/vincent.png', alt='admin')
                  .info
                    h3 Vincent Bas
                    p Etudiant en école d’ingénieur en Master 2 Objets Connectés Réseaux & télécommunications à l’ECE Paris. 
                    p Option d'approfondissement : Les nouvelles technologies du web
                    
    
    script
      :coffee-script
        $("#show-metrics").click (e) ->
            dataset = []
            e.preventDefault()
            $( "#display-metrics" ).remove();
            $( "svg" ).remove();
            $.getJSON "/metrics.json", {}, (data) ->
              if(data.length == 0)
                console.log("Empty")
              else
                
                content = "<ul id='display-metrics'>"
                for d in data
                  content += "<li data-val='#{d.timestamp}'>timestamp: #{d.timestamp}, value: #{d.value} <button class='btn btn-danger' id='del'> Delete metrics</button></li>"
                  dataset.push(parseInt(d.value))	
                w = 500 
                h = 300
                barPadding = 1

                #Create SVG element
                svg = d3.select('.chart-container').append('svg').attr('width', w).attr('height', h)
                svg.selectAll('rect').data(dataset).enter().append('rect').attr('x', (d, i) ->
                  i * w / dataset.length
                ).attr('y', (d) ->
                  h - (d * 4)
                ).attr('width', w / dataset.length - barPadding).attr('height', (d) ->
                  d * 4
                ).attr 'fill', (d) ->
                  'rgb(0, 0, ' + d * 10 + ')'
                svg.selectAll('text').data(dataset).enter().append('text').text((d) ->
                  d
                ).attr('x', (d, i) ->
                  i * w / dataset.length + 5
                ).attr('y', (d) ->
                  h - (d * 4) + 15
                ).attr('font-family', 'sans-serif').attr('font-size', '15px').attr 'fill', 'white'
                content += "</ul>"
                $("#metrics").append content
        
        $('body').on 'click', 'button#del', ->
          element = $(this).parent()
          value = element.data('val')
          $.get 'deletemetrics/' + value, (data) ->
            element.hide()
            return
          return
